################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/backend-assessment/FileContentIndex
/.vs/backend-assessment/config/applicationhost.config
